.aboutPageContainer {
	max-width: 1200px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 80px;
}

.aboutPageMainText {
	font-size: clamp(28px, 8vw, 48px);
	font-family: var(--font-title);
	color: var(--color-black);
	margin-bottom: 4rem;
	text-transform: uppercase;
}

.aboutPageRegularText {
	font-size: clamp(14px, 2vw, 15px);
	color: var(--color-black);
	font-family: var(--font-text);
	text-transform: uppercase;
	margin-bottom: 2rem;
}
