.inputContainer {
	width: 100%;
	box-sizing: border-box;
}
.inputLabel {
	margin-bottom: 0.5rem;
	font-size: 1rem;
	color: var(--color-black);
}

.inputField {
	width: 100%;
	padding: 0.6rem;
	font-size: 1rem;
	border: 1px solid var(--color-black);
	color: var(--color-black);
	background-color: var(--color-white);
	font-weight: 300;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
}

.inputField:focus {
	outline: none;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
	box-shadow: 0 0 0 30px var(--color-white) inset !important;
	background-color: var(--color-white) !important;
}
