.adminLinkContainer {
	width: 100%;
	border-bottom: 1px solid var(--color-black);
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adminLinkText {
	color: var(--color-black);
	font-size: 1rem;
	font-weight: 300;
}

.adminLinkArrowContainer {
	margin-top: 5px;
}

.adminLinkArrowLine {
	width: 9px;
	height: 1px;
	background-color: var(--color-black);
	transform: rotate(-45deg);
}

.adminLinkArrowLine:nth-child(2) {
	transform: rotate(45deg);
	margin-top: -7px;
}
