.buttonContainer {
	background-color: var(--color-black);
	border: none;
	padding: 15px 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buttonContainer:hover {
	background-color: var(--color-darkGray);
}

.buttonContainer:disabled {
	background-color: var(--color-lightGray);
	cursor: not-allowed;
}

.buttonText {
	font-size: clamp(16px, 2vw, 18px);
	color: var(--color-white);
	font-family: var(--font-special);
	font-weight: 400;
	text-transform: uppercase;
}
