.eventElementContainer {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-bottom: 90px;
}

.eventElementDateHeader {
	max-width: 70px;
	min-width: 70px;
	height: 70px;
	background-color: #e7e7e7;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
}

.eventElementDate {
	font-size: 16px;
	text-transform: uppercase;
}

.eventElementEventName {
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 36px;
}

.eventElementText {
	font-size: 16px;
	text-transform: capitalize;
	margin-bottom: 12px;
}

.eventElementAdditionalInfo {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 20px;
}

.eventElementButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.eventElementCalendarButton {
	color: #888;
	cursor: pointer;
	font-size: 16px;
	transition: color 0.3s ease;
}

.eventElementCalendarButton:hover {
	color: #000;
}

.eventElementButton {
	background-color: #000;
	color: #fff;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 16px;
}

.eventElementGap {
	margin-bottom: 36px;
}

@media (max-width: 600px) {
	.eventElementContainer {
		flex-direction: column;
	}
}
