.productCardContainer {
	max-width: 400px;
	width: 100%;
	padding: clamp(10px, 2vw, 20px);
	margin-bottom: 3rem;
	cursor: pointer;
}

.productCardImage {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	margin-bottom: 40px;
}

.productCardInfoContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 16px;
}

.productCardText {
	color: #000;
	font-size: clamp(16px, 4vw, 18px);
}
