.cartPageContainer {
	max-width: 1200px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 80px;
}

.cartPageEmptyText {
	text-align: center;
	font-size: clamp(16px, 2.5vw, 24px);
	font-family: var(--font-special);
	color: var(--color-black);
}

.cartPageTotalContainer {
	border-top: 1px solid var(--color-lightGray);
	padding-top: 40px;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-end;
}

.cartPageTotalInnerContainer {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	width: 100%;
}

.cartPageTotalText {
	color: var(--color-black);
	font-size: clamp(18px, 1.5vw, 20px);
	font-family: var(--font-text);
	font-weight: 400;
}

.cartPageCheckoutButton {
	max-width: 400px;
	width: 100%;
	font-size: clamp(16px, 2vw, 18px);
	color: var(--color-white);
	font-family: var(--font-special);
	font-weight: 400;
	background-color: var(--color-black);
	border: none;
	padding: 15px 24px;
	text-transform: uppercase;
	justify-content: center;
	display: flex;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.cartPageCheckoutButton:hover {
	background-color: var(--color-darkGray);
}

@media (max-width: 600px) {
	.cartPageTotalContainer {
		padding: 40px clamp(0px, 2vw, 20px) 0;
	}
	.cartPageTotalInnerContainer {
		max-width: 100%;
	}
	.cartPageCheckoutButton {
		max-width: 100%;
	}
}
