.checkoutPageContainer {
	max-width: 1200px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

@media (max-width: 880px) {
	.checkoutPageContainer {
		flex-direction: column;
		gap: 4rem;
		align-items: center;
	}
}
