.homeContainer {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.homeBackgroundContainer {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.homeImage {
	max-width: 1200px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.homeOverlay {
	margin-top: clamp(20px, 4vw, 50px);
	right: 0;
	z-index: 10;
}

.homeNameContainer {
	align-items: center;
	justify-content: center;
	max-width: min-content;
	margin-left: auto;
	margin-right: clamp(-10px, 3vw, -20px);
	color: var(--color-black);
}

.homeName {
	font-size: clamp(32px, 18vw, 300px);
	font-family: "Luxurious Roman", serif;
	font-weight: 500;
	font-style: italic;
	line-height: clamp(0px, 13vw, 220px);
	letter-spacing: clamp(0px, 2vw, 20px);
	text-align: center;
	text-transform: uppercase;
}

.homeSubscribeContainer {
	justify-content: center;
	align-items: center;
	background-color: var(--color-black);
	padding: clamp(20px, 4vw, 50px) clamp(16px, 3vw, 70px);
	margin-right: auto;
	margin-left: clamp(0px, 3vw, 70px);
	max-width: clamp(320px, 60vw, 840px);
	width: 100%;
}

.homeSubscribeText {
	text-align: center;
	max-width: 720px;
	font-size: clamp(16px, 2vw, 40px);
	margin-bottom: clamp(16px, 2vw, 50px);
	color: var(--color-white);
}

.homeSubscribeFormContainer {
	display: flex;
	gap: clamp(16px, 3vw, 50px);
	align-items: center;
}

.homeSubscribeInput {
	font-size: clamp(14px, 2vw, 20px);
	padding: clamp(10px, 2vw, 14px);
	width: 100%;
	background-color: var(--color-white);
}

.homeSubscribeButton {
	font-size: clamp(14px, 2vw, 20px);
	padding: clamp(12px, 2vw, 14px) clamp(12px, 3vw, 20px);
	background-color: var(--color-white);
	color: var(--color-black);
	outline: 1px solid var(--color-white);
	border: none;
	cursor: pointer;
	transition: background-color 5.3s, color 5.3s;
}

.homeSubscribeButton:hover {
	background-color: var(--color-black);
	color: var(--color-white);
	outline: 1px solid var(--color-white);
}

.homeShopLink {
	font-family: "Luxurious Roman", serif;
	text-transform: uppercase;
	font-style: italic;
	font-size: clamp(32px, 8vw, 120px);
	margin-top: clamp(60px, 9vw, 150px);
	text-align: center;
	cursor: pointer;
	color: var(--color-black);
	max-width: max-content;
	align-self: center;
	margin-left: auto;
	margin-right: clamp(95px, 14vw, 100px);
	transition: color 0.3s;
}

.homeShopLink:hover {
	color: var(--color-midGray);
	cursor: pointer;
}

.homeLinksContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: clamp(100px, 20vw, 400px);
}

.homeLinksInnerContainer {
	max-width: 1000px;
	flex-wrap: wrap;
	gap: clamp(40px, 12vw, 120px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 200px;
}

.homeLink {
	font-family: "Luxurious Roman", serif;
	text-transform: uppercase;
	font-style: italic;
	font-size: clamp(28px, 8vw, 96px);
	color: var(--color-black);
	transition: color 0.3s;
}

.homeLink:hover {
	color: var(--color-midGray);
	cursor: pointer;
}

@media (max-width: 900px) {
	.homeSubscribeFormContainer {
		flex-direction: column;
		gap: 20px;
	}
}
