.homeContainer {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.homeBackgroundContainer {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.homeImage {
	max-width: 1200px;
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 1200 / 977;
}

.homeNameContainer {
	align-items: center;
	justify-content: center;
	max-width: min-content;
	margin-left: auto;
	margin-right: clamp(-10px, 3vw, -20px);
	color: var(--color-black);
}

.homeName {
	font-size: clamp(32px, 18vw, 300px);
	font-family: "Luxurious Roman", serif;
	font-weight: 500;
	font-style: italic;
	line-height: clamp(0px, 13vw, 220px);
	letter-spacing: clamp(0px, 2vw, 20px);
	text-align: center;
	text-transform: uppercase;
}

.homeLinksContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: clamp(100px, 20vw, 400px);
}

.homeLinksInnerContainer {
	max-width: 1000px;
	flex-wrap: wrap;
	gap: clamp(40px, 12vw, 120px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 200px;
}

.homeLink {
	font-family: "Luxurious Roman", serif;
	text-transform: uppercase;
	font-style: italic;
	font-size: clamp(28px, 8vw, 96px);
	color: var(--color-black);
	transition: color 0.3s;
}

.homeLink:hover {
	color: var(--color-midGray);
	cursor: pointer;
}

@media (max-width: 900px) {
	.homeSubscribeFormContainer {
		flex-direction: column;
		gap: 20px;
	}
}
