.shopContainer {
	max-width: 1200px;
	width: 100%;
	margin-top: 45px;
	margin-bottom: 80px;
}

.shopTitle {
	text-align: center;
	font-size: clamp(16px, 2.5vw, 24px);
	font-family: var(--font-special);
	color: var(--color-black);
	margin-top: 45px;
	margin-bottom: 80px;
}

.shopProductList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
	justify-content: center;
}
