.shopContainer {
	max-width: 1200px;
	width: 100%;
	margin-top: 45px;
	margin-bottom: 80px;
}

.shopTitle {
	text-align: center;
	margin-top: 45px;
	margin-bottom: 80px;
}

.shopProductList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
	justify-content: center;
}
