.productInfoContainer {
	max-width: 433px;
	width: 100%;
}

.productInfoName {
	font-size: clamp(22px, 2vw, 24px);
	color: var(--color-black);
	font-family: var(--font-title);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.productInfoPriceContainer {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	gap: 30px;
}

.productInfoPrice {
	font-size: 20px;
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 400;
}

.productInfoSoldOut {
	font-size: 20px;
	color: var(--color-red);
	font-family: var(--font-text);
	font-weight: 600;
}

.productInfoDropdownContainer {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.productInfoDropdown {
	width: 100%;
	padding: 12px;
	border: 1px solid var(--color-lightGray);
	font-size: 16px;
	font-family: var(--font-text);
	color: var(--color-black);
	font-weight: 400;
	margin-left: 10px;
	cursor: pointer;
}

.productInfoQuantityContainer {
	display: flex;
	align-items: center;
	margin-bottom: clamp(40px, 2vw, 60px);
}

.productInfoQuantity {
	font-size: clamp(16px, 2vw, 18px);
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 400;
	margin-right: 10px;
	min-width: max-content;
}

.productInfoQuantityButton {
	font-weight: 400;
	font-size: clamp(16px, 2vw, 18px);
	width: clamp(45px, 2vw, 47px);
	height: clamp(45px, 2vw, 47px);
	align-items: center;
	justify-content: center;
	display: flex;
	border: none;
	color: var(--color-black);
	font-family: var(--font-text);
}

.productInfoQuantityNumber {
	font-size: clamp(16px, 2vw, 18px);
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 400;
	padding: 13px;
	width: 66px;
	text-align: center;
	border: 1px solid var(--color-lightGray);
}

.productInfoAddToCartButtonContainer {
	margin-bottom: clamp(40px, 2vw, 50px);
}

.productInfoAddToCartButton {
	max-width: clamp(154px, 30vw, 168px);
	width: 100%;
}

.productInfoDescription {
	font-size: clamp(16px, 2vw, 18px);
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 400;
	margin-bottom: 60px;
}

.productInfoTextReg {
	font-size: clamp(14px, 2vw, 16px);
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 400;
	margin-bottom: clamp(50px, 2vw, 60px);
}

.productInfoFact {
	list-style: inside;
	font-family: var(--font-text);
	color: var(--color-black);
	margin-bottom: 2px;
	margin-left: 10px;
}

.productInfoTextMed {
	font-size: clamp(14px, 2vw, 16px);
	color: var(--color-black);
	font-family: var(--font-text);
	font-weight: 800;
}
