.shopProductCardContainer {
	max-width: 400px;
	width: 100%;
	padding: clamp(10px, 2vw, 20px);
	margin-bottom: 3rem;
	cursor: pointer;
	position: relative;
}

.shopProductCardSoldContainer {
	position: absolute;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	top: 30px;
	right: 30px;
	background: rgb(35, 35, 35);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
	box-shadow: 0 4px 8px var(--color-shadowBlack);
}

.shopProductCardSoldText {
	color: var(--color-white);
	font-family: var(--font-special);
	font-size: clamp(14px, 4vw, 16px);
	font-weight: 400;
}

.shopProductCardImage {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	margin-bottom: 40px;
}

.shopProductCardInfoContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 16px;
}

.shopProductCardText {
	color: var(--color-black);
	font-family: var(--font-special);
	text-transform: uppercase;
	font-size: clamp(16px, 4vw, 18px);
}
