.adminEventContainer {
	background-color: var(--color-white);
	min-height: 100vh;
	min-width: calc(100vw + 10px);
	width: 100%;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.adminEventInner {
	max-width: 500px;
	width: 100%;
	gap: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	gap: 20px;
}

.adminEventRequirementsContainer {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
}

.adminEventRequirementsInner {
	margin-top: 10px;
}

.adminEventRequirementsText {
	font-weight: 300;
	font-size: 1rem;
	color: var(--color-black);
}

.adminEventRequirementsUl {
	list-style-type: disc;
	padding-left: 20px;
	text-align: left;
	margin-top: 8px;
}
