.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin-top: 30px;
}

.headerLogo {
	height: clamp(30px, 7vw, 50px);
}

.headerNavLinksContainer {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navLink {
	text-decoration: none;
	color: var(--color-black);
	font-family: var(--font-special);
	font-weight: 500;
	font-size: 16px;
	transition: color 0.3s;
	padding: 5px;
}

.navLink:hover {
	color: var(--color-midGray);
}

.headerSocialLinksContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headerSocialLinksContainer a {
	color: var(--color-black);
	transition: color 0.3s;
	padding: 5px;
}

.headerSocialLinksContainer a:hover {
	color: var(--color-midGray);
}

@media (max-width: 400px) {
	.headerNavLinksContainer {
		gap: 10px;
	}
}
