.productFilterContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 40px;
	gap: clamp(0px, 5vw, 40px);
}

.productFilterItem {
	padding: clamp(8px, 1vw, 10px);
	cursor: pointer;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	transition: color 0.3s;
}

.productFilterItem:hover {
	color: #777;
}

.productFilterItem.active {
	text-decoration: underline;
}
