.adminArchivedContainer {
	background-color: var(--color-white);
	min-height: 100vh;
	min-width: calc(100vw + 10px);
	width: 100%;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	gap: 20px;
}

.adminArchivedLightText {
	margin-bottom: 0.5rem;
}
