.productImagesContainer {
	display: inline-block;
	border: 1px solid #c9c9c9;
	padding: 16px;
	height: fit-content;
	width: 100%;
	max-width: 698px;
}

.productImagesContainer.single {
	max-width: 562px;
	margin: 0 auto;
}

.productImagesTopContainer {
	display: flex;
	flex-direction: row-reverse;
	gap: 16px;
	flex-wrap: wrap;
}

.productImagesImg {
	width: 100%;
	max-width: 528px;
	height: auto;
	aspect-ratio: 1;
	object-fit: cover;
}

.productImagesTopArrContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.productImagesBottArrContainer {
	margin-top: 16px;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.productImagesSmall {
	max-width: 120px;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	display: block;
}

.productImagesSmallWrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.productImagesSmallWrapper.active::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(255, 255, 255, 0.5);
	pointer-events: none;
}

@media (max-width: 1170px) {
	.productImagesContainer {
		max-width: 560px;
		width: 100%;
		padding: 15px;
	}
	.productImagesTopContainer {
		flex-direction: row;
	}
	.productImagesTopArrContainer {
		flex-direction: row;
	}
}

@media (max-width: 1032px) {
	.productImagesContainer {
		max-width: 460px;
	}
	.productImagesContainer.single {
		max-width: 460px;
	}
	.productImagesTopArrContainer {
		gap: 10px;
	}
	.productImagesBottArrContainer {
		margin-top: 10px;
		gap: 10px;
	}
	.productImagesSmall {
		max-width: 99.5px;
	}
}

@media (max-width: 932px) {
	.productImagesContainer {
		max-width: 360px;
	}
	.productImagesContainer.single {
		max-width: 360px;
	}
	.productImagesTopArrContainer {
		gap: 8px;
	}
	.productImagesBottArrContainer {
		margin-top: 8px;
		gap: 8px;
	}
	.productImagesSmall {
		max-width: 76px;
	}
}

@media (max-width: 743px) {
	.productImagesContainer {
		max-width: 300px;
	}
	.productImagesContainer.single {
		max-width: 300px;
	}
	.productImagesSmall {
		max-width: 61px;
	}
}

@media (max-width: 623px) {
	.productImagesContainer {
		max-width: 360px;
	}
	.productImagesContainer.single {
		max-width: 360px;
	}
	.productImagesTopArrContainer {
		gap: 8px;
	}
	.productImagesBottArrContainer {
		margin-top: 8px;
		gap: 8px;
	}
	.productImagesSmall {
		max-width: 76px;
	}
}

@media (max-width: 379px) {
	.productImagesContainer {
		max-width: 340px;
	}
	.productImagesContainer.single {
		max-width: 340px;
	}
	.productImagesSmall {
		max-width: 72px;
	}
}
